:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --transparent-white-main: hsla(0, 0%, 100%, 0.75);
  --transparent-white-stat: hsla(0, 0%, 100%, 0.6);

  --15: 0.938rem;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--white);
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

img {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--very-dark-blue);
}

.main {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-desaturated-blue);
}

.border {
  border-radius: 20px 20px 0 0;
}

.image-overlay {
  position: relative;
  display: inline-block; /* Adjust as needed */
}

.image-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 22, 122, 0.6); /* Purple color with 50% opacity */
  pointer-events: none; /* Allows clicks to pass through */
  border-radius: 20px 20px 0 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }